<!doctype html>

<head>
<title>Compose generator (output)</title>
<meta charset=utf-8>

<link rel="stylesheet" href="main.css">
<link href="prism.css" rel="stylesheet" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link href="/css/fontawesome.css" rel="stylesheet">
<link href="/css/brands.css" rel="stylesheet">
<link href="/css/solid.css" rel="stylesheet">
</head>
<body>
<script src="prism.js"></script>
<script>
    function download(elid){
        console.log("Element " + elid)
        var a = document.body.appendChild(
            document.createElement("a")
        );
        const regex = /^data_/i
        filename = elid.replace(regex, "")
        console.log("downloading " + filename)
        a.download = filename;
        a.href = "data:text/yaml," + document.getElementById(elid).innerText;
        a.click();
    }    
</script>
<div class="container">
<div class="head" id="back">
    <div class="head-buttons">
        <a href="/" class="button">Back</a>
    </div>
    <div class="alist">
    {% for k in payload.keys() %}
        <a href="#header_{{ k }}" class="local button" id="button_{{ k }}">{{ k }}</a>
    {% endfor %}
    </div>
</div>
<div class="output">
    {% for k,v in payload.items() %}
    <div class="output-block">
        <div id="header_{{ k }}" class="header">
            <div class="header-text" id="headertext_{{ k }}">{{ k }}</div>
            <div class="header-buttons">
                <a href="#back" class="local button">↑Top</a>
                <div onClick='download("data_{{ k }}")'><a class="local button">Download</a></div>
            </div>
        </div>
        <div class="codeblock" id="codeblock_{{ k }}">
            <pre class="code" id="code_{{ k }}"><code class="language-yaml line-numbers" id="data_{{ k }}">{{ v }}</code></pre>
        </div>
    </div>
    {% endfor %}
</div>
<div class="tail">
    <div class="header-buttons"><a href="#back" class="local button">↑Top</a></div>
</div>
<div class="tail version">version {{ version }}</div>
<div class="tail" id="aaa.txt" onClick="download('aaa.txt')">
    <div class="opossum"><span class="invis">AAAAAAAA! A! AAA!</span></div>
</div>
</body>