<!doctype html>

<head>
<title>Compose generator (output)</title>
<meta charset=utf-8>

<link rel="stylesheet" href="main.css">
<link href="prism.css" rel="stylesheet" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link href="/css/fontawesome.css" rel="stylesheet">
<link href="/css/brands.css" rel="stylesheet">
<link href="/css/solid.css" rel="stylesheet">
</head>
<body>
<script src="prism.js"></script>
<script src="jszip.min.js"></script>
<script src="FileSaver.min.js"></script>
<script>
    function download(elid) {
        var a = document.createElement('a');
        var c = document.getElementById(elid).innerText;
        var filename = elid.replace(/^data_/i, "")
        a.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(c));
        a.setAttribute('download', filename);
        console.log("Downloading " + filename)
        a.style.display = 'none';
        document.body.appendChild(a);
      
        a.click();
      
        document.body.removeChild(a);
      }
</script>
<script>
    function copyData(elid) {
        var c = document.getElementById(elid).innerText;
        navigator.clipboard.writeText(c);
        console.log("Copied " + elid + "to clipboard")
    }
</script>
<script>
    function zipall(){
        console.log("Zipall")
        const zip = new JSZip();
        const files = {{ payload | tojson | safe }};
        const timeStamp = (new Date()).toISOString().replace(/[-:]|(\..+)/g, '').replace('T','-');
        const okFiles = ["Dockerfile", "nginx.conf"]
        console.log(timeStamp);
        for (var f in files) {
            console.log(f)
            console.log(okFiles.some(e => f.includes(e)))
            switch (true) {
                case f.startsWith('deploy'):
                    var deploy = zip.folder(".github/workflow");
                    deploy.file(f, files[f]);
                    break;
                case f.startsWith('docker-compose'):
                    zip.file(f, files[f]);
                    break;
                case okFiles.some(e => f.includes(e)):
                    zip.file(f, files[f]);
                    break;
                default:
                    console.log('unexpected file, passing');
            }
        };
        zip.generateAsync({type:"blob"}).then(function(content) {
            saveAs(content, "composed-" + timeStamp + ".zip");
        });
    }
</script>
<div class="container">
<!--    <div class="head opossum" onClick="zipall()"></div> -->
<div class="head" id="back">
    <div class="head-buttons">
        <a href="/" class="button back">Back</a>
    </div>
    <div class="alist">
    {% for k in payload.keys() %}
        <a href="#header_{{ k }}" class="local button aitem" id="button_{{ k }}">{{ k }}</a>
    {% endfor %}
    </div>
    <div class="head-buttons">
        <div onClick='zipall()'><a class="local button zip">Download all as zip</a></div>
    </div>
</div>
<div class="output">
    {% for k,v in payload.items() %}
    <div class="output-block">
        <div id="header_{{ k }}" class="header">
            <div class="header-text" id="headertext_{{ k }}">{{ k }}</div>
            <div class="header-buttons">
                <a href="#back" class="local button block-button top">Top</a>
                <div onClick='download("data_{{ k }}")'>
                    <a class="local button download block-button">Download&nbsp;&nbsp;<small>{{ k }}</small></a>
                </div>
                <div onClick='copyData("data_{{ k }}")'><a class="local button block-button copy">Copy</a></div>
            </div>
        </div>
        <div class="codeblock" id="codeblock_{{ k }}">
            <pre class="code" id="code_{{ k }}"><code class="language-yaml line-numbers" id="data_{{ k }}">{{ v }}</code></pre>
        </div>
    </div>
    {% endfor %}
</div>
<div class="tail">
    <div class="header-buttons"><a href="#back" class="local button top block-button">Top</a></div>
</div>
<div class="tail version">version {{ version }}</div>
<div class="tail" id="aaa.txt" onClick="download('aaa.txt')">
    <div class="opossum"><span class="invis">AAAAAAAA! A! AAA!</span></div>
</div>
</body>